
@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

<a href="@Url.Action("Create","RWA",null)" class="btn btn-default">Register</a>
<a href="@Url.Action("DisplayBallet","RWA",null)" class="btn btn-default">Vote</a>
<a href="@Url.Action("Count","RWA",null)" class="btn btn-default">Winners</a>

